.root{
  background: white;
  border-radius: 15px;
  padding: 3rem;
}

.root__within__border{
  background: white;
  border-radius: 15px;
  padding: 3rem 3rem 0 3rem ;
}
.title{
  font-weight: bold;
  color: #0050b3;
}